
 *{
     box-sizing: border-box;
 }

body{
    background-color: #213448;
    padding: 0;
    margin: 0;
    
}
header{
    background-color: #925454;
    height: 120px;
   
    width: 100%;
    
}
header h1{
    color: white;
    text-align: center;
    padding-top: 35px;
    margin: 0;
}
.CAUSAS img{
    height: 300px;
    width: auto;
    border-radius: 20px;

}
.DATOS img{
    height: 300px;
    width: auto;
    border-radius: 20px;

}
.DATOSCURIOSOS img{
    height: 300px;
    width: auto ;
    border-radius: 20px;
}
.CAUSAS .titulo, .texto{
    color: white;
    
}
.DATOS .titulo, .texto{
    color: white;
}

.DATOSCURIOSOS .titulo, .texto{
    color: white;
}

.CAUSAS{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 40px 60px;
}
.DATOS{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 40px 60px;
}
.DATOSCURIOSOS{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 40px 60px;
}
.CAUSAS p{
    width: 500px;
    font-size:20px ;
   font-family: Georgia, 'Times New Roman', serif;
   font-weight:lighter ;

}
.DATOS p{
    width: 500px;
    font-size:20px;
   font-family: Georgia, 'Times New Roman', serif;
   font-weight:lighter ;
}
.DATOSCURIOSOS p{
   width: 500px;
    font-size:20px;
   font-family: Georgia, 'Times New Roman', serif;
   font-weight:lighter ;
}